Python for NLP: Multi-label Text Classification with Keras

Multi-label Text Classification Model with Single Output Layer

https://stackabuse.com/python-for-nlp-multi-label-text-classification-with-keras/

Import data and libraries

In [21]:
import pandas as pd

#'Unnamed: 0' 'lemmes' 'pos'
X_train = pd.read_csv("../challenge_dataset/X_train_clean.csv").drop(columns='Unnamed: 0')

#'Id', 'category_1', 'category_2', 'category_3', 'category_4'
Y_train = pd.read_csv("../challenge_dataset/y_train.csv",sep=";").drop(columns="Id")

     category_1  category_2  category_3  category_4
0             1           1           0           0
1             0           1           0           0
2             0           1           0           0
3             0           1           0           0
4             1           0           0           0
..          ...         ...         ...         ...
480           1           0           0           0
481           0           0           0           1
482           0           1           0           1
483           0           1           0           0
484           0           0           1           0

[485 rows x 4 columns]